body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111;
}

.container {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  gap: 2px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: rgb(29, 29, 29);
  transition: background-color 1s ease;
}

